doctype html 
html(lang="ja")
  head 
    meta(charset="UTF-8")
    title THE SECRET BORD 
  body 
    a(href="/logout") LOGOUT
    h1 THE SECRET BORD
    h2 NEW POSTS 
    form(method="post" action="/posts")
      div 
        textarea(name="content" cols=40 rows=4)
      div 
        button(type="submit") POST

    h2 POSTED LIST 
    //- each content in contents 
       //- p #{content}
    each post in posts 
      p #{post.content}
      p POSTED TIME: #{post.createdAt}
      hr