body{
  width: 600px;
  margin: auto;
  text-align: center;
  background-color: #999966;
  color: #FFFFCC;
  font-family: sans-serif;
}
span{
  font-size: 160%;
}
h1 {
  font-size: 300%;
}
h2{
  color: #CCFFCC;
}
h3{
  color: #FFCCCC;
}
h4{
  color: #FFFF00;
}